#buildMenu {

     width: 280px;
     height: 300px;
 }

.buildMenuItem {
    display: block;
    width: 80px;
    float: left;
    height: 60px;
    border: 0px;
}

.buildMenuImg {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    margin:auto;
}

.buildMenuText {
    position: relative;
    text-align: center;
    margin:auto;
}

#accordion ol.build-menu-list {
    padding: 5px;
}