#bottomLeftUi {
    position: absolute;
    width: 280px;
    height: 300px;
}
#bottomLeftUi.visible {
    bottom: 0px;
    left: 0px;
}
#bottomLeftUi.hidden {
    bottom: -300px;
    left: -280px;
}
#bottomLeftToggleButton {
     background-color:#b0c4de;
    background-image: url('../resources/icons/build.png');
    background-size:30px 30px;
    background-repeat:no-repeat;
     position: absolute;
     width: 30px;
     height: 30px;
     right: -20px;
     top: -20px;
 }


.toggleButton {
    background-color:#b0c4de;
    background-image: url('../resources/icons/Globe.png');
    background-size:30px 30px;
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
}


.toggleButtonObjectMenu {
    background-color:#b0c4de;
    background-image: url('../resources/icons/Globe.png');
    background-size:30px 30px;
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    right: -30px;
    top: 0px;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}


.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { display:inline; top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { display:inline;  margin-top: -1px; padding-top: 1px; }