#buildMenu {
     position: absolute;
     left: 20px;
     bottom: 200px;
     padding: 5px;
     width: 280px;
     height: 300px;
     border: 0px;
 }

.buildMenuItem {
    display: block;
    width: 80px;
    float: left;
    height: 90px;
    border: 0px;
}

.buildMenuImg {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    margin:auto;
}

.buildMenuText {
    position: relative;
    text-align: center;
    margin:auto;
}

#accordion ol.build-menu-list {
    padding: 5px;
}